DATABASE_URL="postgresql://<user>:<password>@<host>:<port>/<database>?schema=public"

JWT_SECRET=your_super_secret_jwt_key
ALLOWED_ORIGINS=your_origins

# Allowed Web Domain
GATEWAY_SECRET=your_gateway_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

GOOGLE_MAPS_API_KEY=your_google_maps_api_key_for_backend

ADMIN_EMAIL=admin@example.com
ADMIN_USERNAME=admin123
ADMIN_PASSWORD=123456789
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Administrator


EMAIL_USER=useremail@gmail.com
EMAIL_PASS=application password

# Audit Log HMAC Secret Key
LOG_HMAC_SECRET=your_log_hmac_secret